<div id="<%= dom_id course %>" class="card shadow-sm mb-4">
  <div class="card-body">
    <h5 class="card-title text-primary fw-bold">
      <strong>Name:</strong> <%= course.name %>
    </h5>
    <p class="card-text text-secondary">
      <strong>Description:</strong> <%= course.description %>
    </p>
  </div>
</div>
